node_modules/
dist/
.env
.env.local
.DS_Store
*.log
.vscode/
.idea/


# Claude Code
.agents/
.claude/
skills-lock.json

# amplify
node_modules
.amplify
amplify_outputs*
amplifyconfiguration*
amplify/
